[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/for/*"]
	abandon = group Aqua-maintainers
	create = group Aqua-maintainers
	deleteOwnChanges = group Aqua-maintainers
	editTopicName = group Aqua-maintainers
	forgeAuthor = group Aqua-maintainers
	forgeCommitter = group Aqua-maintainers
	push = group Aqua-maintainers
	pushMerge = group Aqua-maintainers
	removeReviewer = group Aqua-maintainers
	submit = group Aqua-maintainers
	viewPrivateChanges = group Aqua-maintainers
[access "refs/heads/*"]
	push = +force group Aqua-maintainers
	forgeAuthor = group Aqua-maintainers
	forgeCommitter = group Aqua-maintainers
